language: 
 -cpp
 -python
python:
- "2.7"
compiler:
 - gcc
script:
  - git clone https://github.com/blazekyo/cocos2d-x.git
  - cd cocos2d-x
  - yes | python download-deps.py
  - git submodule update --init
  - cd build
  - ./install-deps-linux.sh
  - cmake ..
  - make
