language: 
 -cpp
 -python
python:
- "2.7"
compiler:
 - gcc
sudo:
-required
before_install:
  # install a newer cmake since at this time Travis only has version 2.8.7
  - yes | sudo add-apt-repository ppa:kalakris/cmake
  - sudo apt-get update -qq
install: sudo apt-get install cmake

script:
  - git clone https://github.com/blazekyo/cocos2d-x.git
  - cd cocos2d-x
  - yes | python download-deps.py
  - git submodule update --init
  - yes | python setup.py
  - cd tools/travis-scripts
  - ls -la
  - yes | ./install_glfw.sh
  - cd -
  - cd build
  - ./install-deps-linux.sh
  - cmake ..
  - make
