language: cpp
before install:
    -wget https://github.com/cocos2d/cocos2d-x/archive/cocos2d-x-2.1.5.zip 
    -unzip cocos2d-x-2.1.5.zip
    -cocos new MyGame -l cpp
    -cd MyGame
    -wget https://raw.githubusercontent.com/rafaelpierri/gtest-and-cocos2d-x-on-a-blender/master/gtestOnCocos2d.sh./gtestOnCocos2d.sh
before_script:
    - export NDK_VERSION=r10e
    - curl -L http://dl.google.com/android/ndk/android-ndk-${NDK_VERSION}-linux-x86_64.bin -O
    - chmod u+x android-ndk-${NDK_VERSION}-linux-x86_64.bin
    - ./android-ndk-${NDK_VERSION}-linux-x86_64.bin > /dev/null
    - rm android-ndk-${NDK_VERSION}-linux-x86_64.bin
    - export ANDROID_NDK_HOME=`pwd`/android-ndk-${NDK_VERSION}
    - export PATH=${ANDROID_NDK_HOME}:${PATH}
script:
   -mkdir linux-build
   -cd linux-build
   -cmake -Ctest=ON ..
   -enable_testing()
   -make 
   -make test
    
