language: 
 -cpp
 -python
python:
- "2.7"
compiler:
 - gcc
dist: trusty 
sudo: required
env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "iV+HKakasAO72793XVhjz3AP3Q/6ndVVNnHHzBtdYGdr/spBx3eQYGCGfk7jh5hXauqi0/p1WN2U3Q5l+SxiH290NcSuEpwUWCh4vIYVsq4w2t0qPpaqmRV0B6fUMvScS2dFCbiNsSPZFKmVCZxtPWUfZXtVJNLLawtfAPikR8f2CjBWIXYAwRNIp3PW294fpf3SJ9IYNMgMHLwJzMMLrThLH+irt00rT84PFSAIRjRUTb4gxc9vjgGBzg/Nr8tDoZANF0U5D8pcmUQTuyOJdON10p8SrdzZMIQitS+TcKYY5jtsuOflGH6bAwArCjV6nzZUToacppOhVeZMWgWHNrcaAA/jA/k2dvjitLaWxlcxfhf2AfGHjPDZVfK5twJK86+vRam/3RR4+srJX8p8uMfD2/h5uL484PJx/9h3CnzVI/LFXYBFV9UH2xa8mXW2HwMB7/RRIHV1vw1dVCNUm723sFE5M9EiCdUGgXLOD7G17zcddEQOoAcoto7cXIh3Wb2r2wbb9LJ53uK3tdDeWvMDvRiWhrINngRk+5WBF7dltH+o4U00EUJKbIwbETOWMXusM1Q/2InIB1mpm6JenYY8PsHGdqE/BfVmAKhdIrbFam00TBXJl/fDe4TADBnU9QfzH+qtW3Nehf/C597QXWBITL9+VgBgZhTKWMsyUQY="

before_install:
      - echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-

addons:
  coverity_scan:
    project:
      name: "blazekyo/cocos2d-x"
      description: "code analysis test using coverity"
    notification_email: weijie22495@gmail.com
    build_command:   "./build_command.sh"
    branch_pattern: coverity_scan
