language: 
 -cpp
 -python
python:
- "2.7"
compiler:
 - gcc
dist: trusty 
sudo: required
script:
  - git clone https://github.com/blazekyo/cocos2d-x.git
  - cd cocos2d-x
  - yes | python download-deps.py
  - git submodule update --init
  - yes | python setup.py
  - cd tools/travis-scripts
  - ls -la
  - yes | ./install_glfw.sh
  - cd -
  - cd build
  - ./install-deps-linux.sh
  - cmake cocos2d-x/tests/cpp-empty-test
  - make
